# models
model/*.pth

# pyc
*.pyc
deeplab/*.pyc

snapshots/
snapshot*
result*
*.swp
*.log

# dataset
dataset/VOC2012

.vscode/*

push.sh

#logs
/log_nyu

*.ipynb

*.txt

.ipynb_checkpoints/

get_shape.py

run.sh

test.py

outputs/
output*

datasets

runs/

pretrained
